@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #24292e;
    color: #fff;
    font-family: 'Roboto Slab', 'Microsoft YaHei UI', serif;

}


@media only screen and (max-width: 500px) {
    .container{
        width: 100% !important;

    }
    .bottom-btn .header{
        padding: 0 8px;
    }
    .bottom-btn .header a{
        display: block !important;
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .bottom-btn .txt{
        font-size: 16px !important;
    }
}

@media only screen and (max-height: 570px) {
    .container{
        margin-top: -260px !important;
    }
}


.clearFix:after, .clearFix:before {
    content: "";
    display: table;
}

.clearFix:after {
    clear: both;
}

.clearFix {
    zoom: 1;
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 450px;
    padding: 10px 0;
    margin: -300px auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

}

.container .header-display-photo {
    height: 120px;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.container .header-display-photo img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.txt {
    font-size: 20px;
    margin: 2px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.large {
    font-size: 30px;
    line-height: 24px;
}

.container .center-content .header,
.container .center-content .bottom {

    border-bottom: 1px solid rgba(255, 255, 255, .1);

    margin: 0 auto 0 auto;
    text-transform: uppercase;
    padding: 20px 0;


}

.container .bottom-btn {
    padding: 10px 0;
    margin-top: 10px;
}

.container .bottom-btn .header a {
    padding: 8px 0;
    line-height: 20px;
    border: 1px solid #1074e7;
    color: #1074e7;
    border-radius: 3px;
    text-decoration: none;
    font-weight: normal;
    width: 48%;
    -webkit-transition: .24s;
    -moz-transition: .24s;
    -ms-transition: .24s;
    -o-transition: .24s;
    transition: .24s;
}

.container .bottom-btn .header a:hover {
    background-color: #1074e7;
    color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container .bottom-btn .bottom {
    padding: 20px 0;
    display: flex;
    position: relative;
    width: 165px;
    left: 50%;
    transform: translateX(-50%);
}

.container .bottom-btn .bottom a {
    margin-right: 16px;
    display: inline-block;
}

.container .bottom-btn .bottom a path{
    -webkit-transition: .48s;
    -moz-transition: .48s;
    -ms-transition: .48s;
    -o-transition: .48s;
    transition: .48s;
}

.container .bottom-btn .bottom a:hover path {
    fill: #fff;
}

.shadowbtn:active {
    box-shadow: 0 0 0 2px #24292e, 0 0 0 4px #1074e7;
}
.shadowbtn:visited {
    box-shadow: 0 0 0 2px #24292e, 0 0 0 4px rgba(16,116,231,.8);
}

.my-gaming-rig,
.in-game-sen{
    height: 0;
    overflow: hidden !important;
    margin-top: 10px;
}
.selected {
    background-color: #1074e7 !important;
    color: #fff !important;
}